---
---

@import "{{ site.theme }}";

.header-level-1:after {
  content: url(../images/buffalo.png);
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
}

.header-level-1:before {
  content: url(../images/buffalo.png);
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  transform: scaleX(-1);
}

/*
 * All due respect for a nice theme from Merlot:
 * https://github.com/pages-themes/merlot
 * but there are some elements I'd rather just
 * hide..
 */
#forkme_banner {
  display: none;
}

a#forkme_banner {
  display: none;
}

footer>p {
  display: none;
  padding-bottom: 2em;
}

footer>span.octocat {
  margin-top: 2em;
}
